body{
    text-align: center;
    
}
.outbox{
    display: flex;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
}
.red{
    background-color: rgb(215, 87, 109);
}
.blue{
    background-color: rgb(63, 161, 202);
}
.yellow{
    background-color: orange;
}
.purpple{
    background-color: rgb(111, 130, 238);
}
.gameflash{
    background-color: rgb(203, 23, 179); 
    opacity:0.5;
    border-radius: 30px;
    border: 15px solid rgb(38, 164, 105);
}

.userflash{
    background-color: rgba(21, 202, 75, 0.996);
    opacity: 0.5;
    border-radius: 30px;
    border: 15px solid rgb(34, 47, 39);
}